:root {
--secondary-color:black;
--branding-color:#6c63ff;
--heading-font-family:'Playfair Display', serif;
--default-font-family: 'Poppins', sans-serif;

}

body {
 font-family:var(--default-font-family);
}


h1, h2, h3, h4, h5, h6 {
    color:white;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 96px;
}
h2 {
    font-size: 15px;
    color:black;
}

 p {
   font-weight: normal;
   font-size: 30px;

   font-weight: normal;
   
 }

 .hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
 }

  .hero p {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  color: white;
  
  }

  .hero h2 {
      font-family: var(--default-font-family);
      font-weight: bold;
      line-height: 2;
      font-size: 36px;
      color:white;
  }

  .project-info {
      text-align: center;
  }

  .btn-branding {
      background: var(--branding-color);
      border-radius: 4px;
      color:white;
      font-size: 18px;
      line-height: 30px;
      padding:15px 30px;
  }


  .btn-branding-outline {
      color:var(--branding-color);
      border: 1px solid var(--branding-color);
      border-radius: 4px;
      font-size: 18px;
      line-height: 15px;
      padding:5px 10px 5px 10px;
      
      
  }

  img {
    display: block;
    text-align: center;
    margin:auto;
    
  }  

  @media (max-width: 800px) {
        h1 {
          font-size: 42px;
      }

       .hero h2 {
          font-size: 22px;
      }
        
        .hero p {
            font-size: 18px;
        }
    .project-info {
        padding: 0;
        text-align: center;
    }
  }